[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-cors-headers = "*"
graphene-django = "*"
django-sslserver = "*"
pytest-django = "*"
mixer = "*"
whitenoise = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
